
<div class="login-box">
		<div class="login-logo-container">
			<span class="logo-body"></span>Realtime BI
		</div>
	<div class="login-body">
							

		<div class="login-input-box">
			<input class="login-input" type="text" placeholder="sandeept@ivycomptech.com">
			<span class="login-input-focus"></span>
		</div>

		<div class="login-input-box">
			<input class="login-input" type="password" value="muralimohan">
			<span class="login-input-focus icon-pwd"></span>
		</div>
						
		<div class="mt">
			<button class='btn btn-primary btn-block' [routerLink]="['/home']">LOGIN</button>
		</div>
	</div>
</div>
