.menuBtnGrpMargin{
    margin: 0 2rem;
}
.menubtnLineAlgn{
    display: flex;
    justify-content: space-evenly;
}
.menupopUpContent{
    margin-top: 1rem;
}
.menudataRefCon{
    margin: 1rem;
    border-radius: 5px;
}
.metrMargin{
    margin: 1rem;
}
.listCss{
    background-color: #090909;
}
.listCss .listMenuItm{
    border-color: #191919;
    border-top: 1px solid !important;
}
.listMenuItm{
    min-height: 40px;
}
.menucheckboxMarginLeft{
    margin-left: 10px;
}
.listMenuGrpItm:first-child, .listMenuGrpItm:last-child{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important; 
    border-bottom-right-radius: 0px !important; 
    border-bottom-left-radius: 0px !important; 
}
.listCss .listMenuGrpItm{
    border-bottom: 0 !important;
}
.listMenuItm .listMenuGrpItm:first-child{
    border: 0 !important;
}
.listMenuItm .listMenuGrpItm:last-child{
    border: 0 !important;
    border-left: 1px solid #191919 !important;
}
.listMenuGrpItm .listMenuFontSize{
    font-size: 25px;;
}