.refresh-container{
	background:#222;
	padding:15px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.refresh-text{
	padding-top:5px;
	padding-left:0;
	text-align:right;
}
label.switch{
	margin-bottom:0;
	top: 4px;
}
.reorder-items-container {
	background-color:#090909;
	position:relative;
	font-size:14px;
}
.reorder-items-container ul {
	margin:0;
	padding:0;
	list-style:none;
}
li.reorder-item {
	position: relative;
    display: block;
    list-style: none;
    border-bottom: 1px solid #353535;
    border-top: 1px solid #353535;
    margin-top: -1px;
    padding: 15px 45px 15px 40px;
    height: 50px;
    box-sizing: border-box;
}
.reorder-item-text {
	position:relative;
	left: 5px;
	font-weight: normal;
}
.reorder-items-container .checkBoxcontainer {
    left: 30px;
    position: absolute;
}
.reorder-items-container .checkmark{
	width:30px;
	height:30px;
	top: -6px;
    left: -14px;
}
.reorder-items-container .checkBoxcontainer .checkmark:after{
	left: 11px;
    top: 8px;
	border-width: 0 1.2px 1.2px 0;
}
.reorder-item-handle {
    position: absolute;
    z-index: 4;
    top: 0;
	right:0;
    height: 100%;
    width: 4em;
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
}
.reorder-item-handle-body{
	position: absolute;
    top: 25%;
    padding: 5px 0;
    border-left: 1px solid #353535;
}
.handle-bar {
    position: relative;
    height: 2px;
	margin: 2px 1.1em;
	background: #6b6b6b;
	display:block;
	width:20px;
}