<div class='popUpContainer'>

<header class="header">
   <div class="navbar-custom">
    <nav class="navbar navbar-static-top">
	  <div class="navbar-header text-center">   
		<button type="button" class="btn btn-default no-btn popUpCloseBtn navbar-btn" aria-label="Left Align" [routerLink]="['/',{ outlets: { outlet: null} }]">
			<span class="navbar-brand pull-right"><i class="glyphicon glyphicon-remove arrow-color" aria-hidden="true"></i></span>
		</button>
	  </div>     
	</nav>
  </div>
  <div class="container-fluid">
    <div class="row flex-btns-center">		
		 <button type="button" class="btn btn-secondary" aria-label="Left Align" (click)="goToLoginPage()">LOGOUT</button>				
		 <button type="button" class="btn btn-secondary" aria-label="center Align" [routerLink]="['/',{ outlets: { outlet: ['feedback'] } }]" routerLinkActive="active">FEEDBACK</button>				
		 <button type="button" class="btn btn-secondary" aria-label="right Align" [routerLink]="['/',{ outlets: { outlet: ['help'] } }]" routerLinkActive="active">HELP</button>		
	</div>
 </div>
</header>

<div class="page-wrapper"> 
    <form name="menuForm"  [formGroup]="gvcMetricsMenuOptions" role="form" novalidate>	  
	<div class="container-fluid">
		<div class="refresh-container mt15">
			<div class="row"> 
				<div class="col-xs-4 col-sm-3 refresh-text">Data Refresh</div>	
				<div class="col-xs-5 col-sm-6 pL0">	
					<select class="w100per" [disabled]='true' name='option' formControlName="dataRefreshInterwell">
						<option value="">Please select a Interwell</option>
						<option *ngFor="let opt of dataRefreshOptions" [value]="opt.key">{{opt.name}}</option>
					</select>
				</div>	
				<div class="col-xs-3 col-sm-3 text-right pL0">	
					<label class="switch">
							<input type="checkbox" formControlName='dataRefresh' name='daterefresh'>
							<span class="slider round borderColor"></span>
					</label>
				</div>					 					
			</div>			
		</div>
		<div class="row"> 
			<div class="col-xs-12 p15">
				Metrics - Reorder, Toggle On / Off
			</div>
		</div>
	</div>		  	  
	<div class="reorder-items-container">
		<ul formArrayName="menuOptionsListFromArray">
			<li class="reorder-item" *ngFor="let list of menuOptionsListFromArray.controls; let i=index" [formGroupName]="i">
				  <label class="checkBoxcontainer">
						<div class="reorder-item-text">{{list.value.name}}</div>
						<input type="checkbox" formControlName='checked'>
						<span class="checkmark"></span>
				  </label>
				  <div class="reorder-item-handle">
						<div class="reorder-item-handle-body">
							<span class="handle-bar"></span>
							<span class="handle-bar"></span>
							<span class="handle-bar"></span>
						</div>
				  </div>
			</li>
		</ul>
	</div>	
	  
    </form>
</div>

</div>