<div class='popUpContainer'>
  <nav class="navbar navbar-default popUpHeader margin-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="btn btn-default no-btn popUpCloseBtn navbar-btn" aria-label="Left Align" [routerLink]="['/',{ outlets: { outlet: null} }]">
          <span class="glyphicon glyphicon glyphicon-remove popUpCloseIconColor" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-default popUpHeader margin-bottom">
    <div class="menuBtnGrpMargin">
      <div class="menubtnLineAlgn">
        <button type="button" class="btn btn-secondary  navbar-btn col-sm-3 col-xs-3" aria-label="Left Align" [routerLink]="['/login',{ outlets: { outlet: null} }]">
          LOGOUT
        </button>
        <div class='col-sm-1 col-xs-1'></div>
        <button type="button" class="btn btn-secondary  navbar-btn col-sm-4 col-xs-4" aria-label="center Align">
          FEDDBACK
        </button>
        <div class='col-sm-1 col-xs-1'></div>
        <button type="button" class="btn btn-secondary  navbar-btn col-sm-3 col-xs-3" aria-label="right Align">
          HELP
        </button>
      </div>
    </div>
  </nav>
  <div class='popUpContent menupopUpContent'>
    <div class='menubtnLineAlgn gvcSubHeaderBg menudataRefCon'>
      <div class='navbar-btn'>
        <p class='navbar-btn fontBold'>Data Refresh</p>
      </div>
      <div class='navbar-btn '>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </div>
      </div>
      <div class='navbar-btn'>
          <label class="switch navbar-btn">
              <input type="checkbox">
              <span class="slider round borderColor"></span>
            </label>
      </div>
    </div>
    <span class='metrMargin'>Metrics - Reorder, Toggle On / Off</span>
    <div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
            <li>Tile</li>
            <li class="divider"></li>
            <li>Tile</li>
          </ul>
    </div>
  </div>
</div>