<div class='popUpContainer'>

  <div class="navbar-custom popup-top-fix">
    <nav class="navbar navbar-static-top">
      <div class="navbar-header text-center">   
        <button type="button" class="btn btn-default no-btn popUpCloseBtn navbar-btn" aria-label="Left Align" (click)="gotoBackPage()">
			<span class="navbar-brand pull-right"><i class="glyphicon glyphicon-arrow-left arrow-color"></i></span>
		</button>
      </div>     
    </nav>
  </div>
  
  <div *ngIf="!success && !error" class='popup-body'>
    <h4 class='popup-title'>
      Hello Sandeep! How can we help?
    </h4>
	<ul class="feeds">
		<li *ngFor="let helpOpt of helpOptions">		
          <label class="radioBoxcontainer">
            <input type="radio" name='radioBtnGrp' (change)='setHelpOption(helpOpt)' value='helpOpt.key'>
            <span class="radioDot"></span>
			<span class="feeds-text">{{helpOpt.name}}</span>
          </label>       
		</li>
	</ul>  
	<div class='comment' [hidden]="!helpOption">
		<textarea class='comment-area' [placeholder]="placeHolderTxt" rows='10'></textarea>
	</div>
	<div [hidden]="!helpOption">
		<div class="btn-center">
			<button (click)='onSubmitFeedbackForm()' class='btn btn-primary'>SUBMIT</button>
		</div>
	</div>
  </div>
  
  
  <div *ngIf="success || error" class="panel-msg">
    <div class="panel-msg-wrapper">
		  <div class="panel-msg-body">
				<span class='succesCheckMark'></span>
				<div class="panel-msg-text">Your message is delivered! <br>We will look into it on priority.</div>
				<div class="btn-center">
					<button (click)="gotoBackPage()" class='btn btn-primary w100'>OK</button>
				</div>
		  </div>
    </div>
  </div>
  
</div>