body{overflow:hidden}
/* custom CHECKBOX button styles starts here */

  .checkBoxcontainer {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkBoxcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #000000;
    border-radius: 20px;
    border-color: #6b6b6b;
    border: 1px solid;
}
.checkBoxcontainer:hover input ~ .checkmark {
    background-color: #000000;
    border-color: #6b6b6b;
    border: 1px solid;
}
.checkBoxcontainer input:checked ~ .checkmark {
    background-color: #6b6b6b;
    border-radius: 20px;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkBoxcontainer input:checked ~ .checkmark:after {
    display: block;
}
.checkBoxcontainer .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0px 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* custom CHECKBOX button styles ends here */


/* custom RADIO button styles starts here */
.radioBoxcontainer {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radioBoxcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radioDot {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #000000;
    border: 1px solid #6b6b6b;
    border-radius: 50%;
}
.radioBoxcontainer:hover input ~ .radioDot {
    background-color: #000000;
    border: 1px solid #6b6b6b;
}
.radioBoxcontainer input:checked ~ .radioDot {
    background-color: #6b6b6b;
    border-radius: 30px;
}
.radioDot:after {
    content: "";
    position: absolute;
    display: none;
}
.radioBoxcontainer input:checked ~ .radioDot:after {
    display: block;
}
.radioBoxcontainer .radioDot:after {
    left: 8px;
    top: 8px;
    border: 6px solid #b7b7b7;
    border-radius: 6px;
}
/* custom RADIO button styles ends here */
