<header class="header">

  <div class="navbar-custom">
    <nav class="navbar navbar-static-top">
      <div class="navbar-header text-center">
        <button type="button" class="navbar-toggle" [routerLink]="['/',{ outlets: { outlet: ['menu'] } }]">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-select-top">
          <button class='no-btn homeDateBtn' value='Today' [routerLink]="['/',{ outlets: { outlet: ['date'] } }]">
            <!-- <option>Today</option> -->
            Today
            <span clas='glyphicon glyphicon-triangle-bottom'></span>
          </button>
        </span>
        <a href="#" class="navbar-brand pull-right">
          <i class="glyphicon glyphicon-arrow-left arrow-color"></i>
        </a>
      </div>
    </nav>
  </div>

  <div class="navbar-icons">
    <a href="javascript:;" class="navbar-item" [ngClass]="{'':'active'}[pageType]" [routerLink]="['/home']">
      <i class="icon-product gvc"></i>
    </a>
    <a href="javascript:;" class="navbar-item" [ngClass]="{'bwin':'active'}[pageType]" [routerLink]="['/home/bwin']">
      <i class="icon-product bwin"></i>
    </a>
    <a href="javascript:;" class="navbar-item" [ngClass]="{'casino':'active'}[pageType]" [routerLink]="['/home/casino']">
      <i class="icon-product casino"></i>
    </a>
    <a href="javascript:;" class="navbar-item" [ngClass]="{'poker':'active'}[pageType]" [routerLink]="['/home/poker']">
      <i class="icon-product poker"></i>
    </a>
    <a href="javascript:;" class="navbar-item" [routerLink]="['/',{ outlets: { outlet: ['error'] } }]">
      <i class="icon-product bingo"></i>
    </a>
  </div>

</header>

<div class="page-wrapper">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb custom">
          <li>
            <a href="#">GVC</a>
          </li>
          <li>
            <a href="#">Adam</a>
          </li>
          <li>
            <a href="#">BWIN</a>
          </li>
          <li class="active">DACH</li>
        </ol>
      </div>
    </div>

    <div class="row full-width">
      <div class="col-xs-12">
        <div class="custom-tabs">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#DefaultFilter">Default Filter</a>
            </li>
            <li>
              <a data-toggle="tab" href="#MetricFilter">Metric Filter</a>
            </li>
          </ul>
          <div class="tab-content no-pr">
            <div id="DefaultFilter" class="tab-pane in active">
              <div class="horiz-scroll-wrapper">
                <select>
                  <option>Busi. Unit</option>
                </select>
                <select>
                  <option>Brand</option>
                </select>
                <select>
                  <option>Region</option>
                </select>
                <select>
                  <option>Country</option>
                </select>
                <select>
                  <option>Brand</option>
                </select>
                <select>
                  <option>Front End</option>
                </select>
                <select>
                  <option>Channel</option>
                </select>
              </div>
            </div>
            <div id="MetricFilter" class="tab-pane">
              <div class="horiz-scroll-wrapper">
                <select>
                  <option>GPR</option>
                </select>
                <select>
                  <option>Brand</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
<div class="container-fluid">
   <div class="row">
     <div class="col-xs-12">
		 <table class="product-results">
			  <thead>
				<tr>
				  <th colspan="2">
						<span class="pull-left">GGR $</span>
						<span class="text-amount">66.53M</span>
						<span class="text green"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>19.2%</span>
				  </th>
				  <th colspan="2" class="bar-table-cell">
					    <div class='bar-height'>
							<div class='bar-shade-1'></div>
							<div class='bar-shade-2'></div>
							<div class='bar-shade-3'></div>
						</div>
						<div class='target-line' style="left:40%">							  
							  <div class='vert-line'></div>							  
						</div>
				  </th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>
						<i class="table-icon-product bwin"></i>
						<span class="text-amount">66.53M</span>
						<span class="text green">19.2%</span>						
				  </td>
				  <td>
						<i class="table-icon-product casino"></i>
						<span class="text-amount">66.53M</span>
						<span class="text red">19.2%</span>
				  </td>
				  <td>
						<i class="table-icon-product poker"></i>
						<span class="text-amount">66.53M</span>
						<span class="text green">19.2%</span>
				  </td>
				  <td>
						<i class="table-icon-product bingo"></i>
						<span class="text-amount">66.53M</span>
						<span class="text red">19.2%</span>
				  </td>
				</tr>				
			  </tbody>
		</table>
		
		<table class="product-results">
			  <thead>
				<tr>
				  <th colspan="2">
						<span class="pull-left">GGR $</span>
						<span class="text-amount">66.53M</span>
						<span class="text red"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>19.2%</span>
				  </th>
				  <th colspan="2" class="bar-table-cell">
					    <div class='bar-height'>
							<div class='bar-shade-1'></div>
							<div class='bar-shade-2'></div>
							<div class='bar-shade-3'></div>
						</div>
						<div class='target-line' style="left:40%">							  
							  <div class='vert-line'></div>							  
						</div>
				  </th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>
						<i class="table-icon-product bwin"></i>
						<span class="text-amount">66.53M</span>
						<span class="text green">19.2%</span>							
				  </td>
				  <td>
						<i class="table-icon-product casino"></i>
						<span class="text-amount">66.53M</span>
						<span class="text red">19.2%</span>
				  </td>
				  <td>
						<i class="table-icon-product poker"></i>
						<span class="text-amount">66.53M</span>
						<span class="text green">19.2%</span>
				  </td>
				  <td>
						<i class="table-icon-product bingo"></i>
						<span class="text-amount">66.53M</span>
						<span class="text red">19.2%</span>
				  </td>
				</tr>				
			  </tbody>
		</table>
		<table class="product-results">
			  <thead>
				<tr>
				  <th colspan="2">
						<span class="pull-left">GGR $</span>
						<span class="text-amount">66.53M</span>
						<span class="text green"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>19.2%</span>
				  </th>
				  <th colspan="2" class="bar-table-cell">
					    <div class='bar-height'>
							<div class='bar-shade-1'></div>
							<div class='bar-shade-2'></div>
							<div class='bar-shade-3'></div>
						</div>
						<div class='target-line' style="left:40%">							  
							  <div class='vert-line'></div>							  
						</div>
				  </th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>
						<i class="table-icon-product bwin"></i>
						<span class="text-amount">66.53M</span>
						<span class="text green">19.2%</span>						
				  </td>
				  <td>
						<i class="table-icon-product casino"></i>
						<span class="text-amount">66.53M</span>
						<span class="text red">19.2%</span>
				  </td>
				  <td>
						<i class="table-icon-product poker"></i>
						<span class="text-amount">66.53M</span>
						<span class="text green">19.2%</span>
				  </td>
				  <td>
						<i class="table-icon-product bingo"></i>
						<span class="text-amount">66.53M</span>
						<span class="text red">19.2%</span>
				  </td>
				</tr>				
			  </tbody>
		</table>
		
		<table class="product-results">
			  <thead>
				<tr>
				  <th colspan="2">
						<span class="pull-left">GGR $</span>
						<span class="text-amount">66.53M</span>
						<span class="text red"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>19.2%</span>
				  </th>
				  <th colspan="2" class="bar-table-cell">
					    <div class='bar-height'>
							<div class='bar-shade-1'></div>
							<div class='bar-shade-2'></div>
							<div class='bar-shade-3'></div>
						</div>
						<div class='target-line' style="left:40%">							  
							  <div class='vert-line'></div>							  
						</div>
				  </th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>
						<i class="table-icon-product bwin"></i>
						<span class="text-amount">66.53M</span>
						<span class="text green">19.2%</span>							
				  </td>
				  <td>
						<i class="table-icon-product casino"></i>
						<span class="text-amount">66.53M</span>
						<span class="text red">19.2%</span>
				  </td>
				  <td>
						<i class="table-icon-product poker"></i>
						<span class="text-amount">66.53M</span>
						<span class="text green">19.2%</span>
				  </td>
				  <td>
						<i class="table-icon-product bingo"></i>
						<span class="text-amount">66.53M</span>
						<span class="text red">19.2%</span>
				  </td>
				</tr>				
			  </tbody>
		</table>
		<table class="product-results">
			  <thead>
				<tr>
				  <th colspan="2">
						<span class="pull-left">GGR $</span>
						<span class="text-amount">66.53M</span>
						<span class="text green"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>19.2%</span>
				  </th>
				  <th colspan="2" class="bar-table-cell">
					    <div class='bar-height'>
							<div class='bar-shade-1'></div>
							<div class='bar-shade-2'></div>
							<div class='bar-shade-3'></div>
						</div>
						<div class='target-line' style="left:40%">							  
							  <div class='vert-line'></div>							  
						</div>
				  </th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>
						<i class="table-icon-product bwin"></i>
						<span class="text-amount">66.53M</span>
						<span class="text green">19.2%</span>						
				  </td>
				  <td>
						<i class="table-icon-product casino"></i>
						<span class="text-amount">66.53M</span>
						<span class="text red">19.2%</span>
				  </td>
				  <td>
						<i class="table-icon-product poker"></i>
						<span class="text-amount">66.53M</span>
						<span class="text green">19.2%</span>
				  </td>
				  <td>
						<i class="table-icon-product bingo"></i>
						<span class="text-amount">66.53M</span>
						<span class="text red">19.2%</span>
				  </td>
				</tr>				
			  </tbody>
		</table>
		
		<table class="product-results">
			  <thead>
				<tr>
				  <th colspan="2">
						<span class="pull-left">GGR $</span>
						<span class="text-amount">66.53M</span>
						<span class="text red"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>19.2%</span>
				  </th>
				  <th colspan="2" class="bar-table-cell">
					    <div class='bar-height'>
							<div class='bar-shade-1'></div>
							<div class='bar-shade-2'></div>
							<div class='bar-shade-3'></div>
						</div>
						<div class='target-line' style="left:40%">							  
							  <div class='vert-line'></div>							  
						</div>
				  </th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>
						<i class="table-icon-product bwin"></i>
						<span class="text-amount">66.53M</span>
						<span class="text green">19.2%</span>							
				  </td>
				  <td>
						<i class="table-icon-product casino"></i>
						<span class="text-amount">66.53M</span>
						<span class="text red">19.2%</span>
				  </td>
				  <td>
						<i class="table-icon-product poker"></i>
						<span class="text-amount">66.53M</span>
						<span class="text green">19.2%</span>
				  </td>
				  <td>
						<i class="table-icon-product bingo"></i>
						<span class="text-amount">66.53M</span>
						<span class="text red">19.2%</span>
				  </td>
				</tr>				
			  </tbody>
		</table>
		
		
		
	</div>
  </div>
</div>