html, body, .gvcBgColor, .popUpContainer, input:checked + .slider{
    background-color: #000000;
}
.page-wrapper{
	margin-bottom:15px;
	padding-top:113px;
	overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    height: 100vh;
}
body{
	background-color:#000!important;
	color:#676767;
}
button, input, optgroup, select, textarea{
    color:#676767
}
.flex-btns-center {
	background-color: transparent;
    overflow: hidden;
    padding: 0;
    margin-bottom: 15px;
	margin-top: 3px;
    margin-left: -15px;
    margin-right: -15px;
	display:flex;
	justify-content: space-between;
}
.flex-btns-center .btn-secondary:last-child {
	margin-right:0	
}
.flex-btns-center .btn-secondary {	
    margin-right: 15px;
	padding-top:11px;
	padding-bottom:11px;
	box-sizing:border-box;
}
.flex-btns-center .btn-block + .btn-block{
	margin-top:0
}
.header{
	background: #222222;
	position: fixed;
    width: 100%;
	z-index:10;
}
.navbar-custom .navbar-toggle .icon-bar{
	background-color:#6c6b6b;
	height:3px;
}
.navbar-custom .navbar-toggle .icon-bar:nth-child(4) {
    width: 11px;
}
@media (min-width: 768px) {
	.navbar-custom .navbar-header {
		 float: none; 
	}
	.navbar-custom .navbar-toggle {
		display:block;
	}
}
.homeDateBtn{
    border: 1px solid #3A3A3A !important;
    border-radius: 13px;
    margin: 5px;
    padding: 3px 20px !important;
}
.navbar-custom .navbar-toggle{
	border:0;
	margin-right:0;
	float:left;
	margin-left: 5px;
}
.navbar-custom .navbar {
	margin-bottom: 0px;
}
.navbar-select-top{
	display:inline-block;
	padding:9px 10px;
}
/*  navbar-icons starts here */
.navbar-icons {
  text-align: center;
}
.navbar-icons .navbar-item {
    width: auto;
    display: inline-block;
    padding: 0 11px 10px;
    margin: 0;
    vertical-align: top;
    text-decoration: none;
    background: #222222;
    box-sizing: border-box;
	border-bottom:3px solid transparent;
}
.navbar-item.active{
border-bottom-color: #dd7545;
}
.icon-product {
    width: 36px;
    height: 36px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 36px;
    display: block;
    color: #6e6e6e;
    background: transparent url(../../assets/images/navbar-icons.png) 0 0 no-repeat;
	background-size: 100%;
}
.icon-product.gvc {
    background-position: 0 0px;  
}

.icon-product.bwin {
    background-position: 0 -36px;
}
.icon-product.casino {
    background-position: 0 -72px;
}
.icon-product.poker {
    background-position: 0 -109px;
}
.icon-product.bingo {
    background-position: 0 -146px;
}
.navbar-item:active, .navbar-item:hover{
  background: #181818;
}

@media (min-width: 600px) {
	.page-wrapper{
	padding-top:149px;
}
	.icon-product {
    width: 72px;
    height: 72px;
	}
    .icon-product.gvc {
		background-position: 0 0px;  
	}

	.icon-product.bwin {
		background-position: 0 -72px;
	}
	.icon-product.casino {
		background-position: 0 -146px;
	}
	.icon-product.poker {
		background-position: 0 -220px;
	}
	.icon-product.bingo {
		background-position: 0 -293px;
	}	
}
/*  navbar-icons ends here */


/*tabs styles starts here*/
.custom-tabs {
	margin-right:-15px;
	margin-left:-15px;
}
.custom-tabs .tab-content {
	padding:15px;
	background-color: #222222;
}
.custom-tabs .tab-content.no-pr{
	padding-right:0
}
.custom-tabs .nav-tabs {
	padding-left:15px;
	border-bottom:1px solid #454545;
}
.custom-tabs .nav > li > a {
	padding:5px 15px 7px 15px;
	color: #676767;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.custom-tabs .nav-tabs > li.active > a, 
.custom-tabs .nav-tabs > li.active > a:hover, 
.custom-tabs .nav-tabs > li.active > a:focus {
	border: 1px solid #454545;
	border-bottom-color: transparent;
}
.custom-tabs .nav-tabs>li.active > a, 
.custom-tabs .nav-tabs>li.active > a:hover, 
.custom-tabs .nav-tabs>li.active > a:focus {
    color: #676767;
    background-color: #222;
}
.custom-tabs .nav > li > a:hover, 
.custom-tabs .nav > li > a:focus{
	  background-color: #222;
}
.custom-tabs  .nav-tabs > li > a:hover{
	border-color: #454545;
}
.custom-tabs  .nav-tabs > li > a {
    color: #676767;
    background-color: #222;
	border:1px solid #454545;
	margin-right:4px;
}
.full-width {
	background-color: transparent;
    overflow: hidden;
    padding: 0;
    margin-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
}
/*tabs styles ends here*/


/*breadcrumb styles starts here*/
 .breadcrumb.custom {
    background: none;
    float: right;
    padding: 0;
    margin-top: 8px;
	margin-bottom: 8px;
	font-size: 12px;
}
.breadcrumb.custom a {
	color: #676767;
}
.breadcrumb.custom > li+li {  
    padding: 0;  
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.breadcrumb.custom>li+li:before {
    content: "\e258";
	color: #676767;
	font-size: 10px;
	padding:  0 4px 0 0
}
.breadcrumb.custom .active{
color:#dd7545
}
/*breadcrumb styles ends here*/

.horiz-scroll-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.horiz-scroll-wrapper  .card {
    display: inline-block;
  }
.horiz-scroll-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
 .horiz-scroll-wrapper .card {
    flex: 0 0 auto;
}
.horiz-scroll-wrapper {
  -webkit-overflow-scrolling: touch;
}
.horiz-scroll-wrapper::-webkit-scrollbar {
    display: none;
}
.horiz-scroll-wrapper select, select{
border: 1px solid #454545;
width:85px;
border-radius:13px;
padding:5px;
background-color: #222222;
}

.arrow-color{
	color:#6e6e6e;
}




/* graph table starts here */

table.product-results {
	background: #000;
	border-collapse: collapse;
	border: 1px solid #3b3b3b;
	margin: 0 auto 20px auto;
	text-align: right;
	width: 100%;
}	

table.product-results th:first-child {	
	background: #222;
	text-align: right;
}

table.product-results td, 
table.product-results th {
	border: 1px solid #3b3b3b;
	padding: 5px 3px;
	position: relative;
}
table.product-results th.bar-table-cell{
	padding:0;
	padding-right: 5px;
	position:relative;
}
.text-amount{
	color:#676767;
	display:block;
	font-size:13px;
	line-height:1
}
.text{
	font-size:12px;
	display:block;
	line-height:1.3em
}
.green{
	color:#76ab41;
}
.red{
	color:#c13f3f;
}
.table-icon-product {
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
    display: inline-block;
    color: #6e6e6e;
    background: transparent url(../../assets/images/navbar-icons.png) 0 0 no-repeat;
	background-size: 100%;
	float:left;
}
.table-icon-product.gvc {
    background-position: 0 0;  
}

.table-icon-product.bwin {
    background-position: 0 -20px;
}
.table-icon-product.casino {
    background-position: 0 -40px;
}
.table-icon-product.poker {
    background-position: 0 -61px;
}
.table-icon-product.bingo {
    background-position: 0 -81px;
}

.bar-height{
    width: 100%;
    height: 45px;
}
.target-line{
    width: 2px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 20%;
	z-index:4;
}
.vert-line {
    height: 70%;
    position: relative;
    top: 7px;
    width: 2px;
    background-color: #CC6E43;
}
.bar-shade-1{
	background-color: #393939;
	width: 70%;	
	position:absolute;
	z-index:1;
	height:100%
}
.bar-shade-2{
	background-color: #656464;
	width: 80%;
	position:absolute;
	z-index:2;
	height:60%;
	top:9px;
}
.bar-shade-3{
	background-color: #A3A2A2;
	width: 90%;
	position:absolute;
	z-index:3;
	height:20%;
	top:18px;
}

/* graph table ends here */



/* styles.css starts here */

.gvcSubHeaderBg, .popUpHeader{
    background-color: #222222 !important;
    border-color: #222222 !important;
}

.list-group .list-group-item{
    background-color: #090909 !important;
}
.popUpCloseIconColor{
    color: #676666;
    font-size: 28px;
    padding: 0;
}
.popUpCloseBtn{
    float: right;
}
.popUpContainer{
    position: absolute;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
}
.popUpHeader{
    height: 5.5rem;
    min-height: 5.5rem !important;
}
.margin-bottom{
    margin-bottom: 0 !important;
}
.no-btn{
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin-right: 1rem;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #696969;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
  }
  
  .switch input {display:none;}
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before{
    background-color: #696969;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #6b6b6b;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  .slider.round {
    border-radius: 34px;
    border: 1px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    border: 1px solid;
    border-color:#4F4F4F !important; 
  }
  .fontBold{
      font-weight: bold;
  }


/* styles.css ends here*/
.popUpContainer .navbar-custom button{
	margin:0
}
button, a, select{
	outline:0 !important;
	outline-color:transparent !important;
	outline-style:none !important
}
.btn-primary {
    color: #676767;
    background-color: #222;
    border-color: #222;
}
.btn-primary:active, 
.btn-primary.active,
.btn-primary:active:hover, 
.btn-primary:focus, 
.btn-primary:hover {
    color: #b9b9b9;
    background-color: #3b3b3b;
    border-color: #3b3b3b;
}
.btn-secondary {
    color: #676767;
    background-color: #000;
    border-color: #000;
}
.btn-secondary:active, 
.btn-secondary.active,
.btn-secondary:active:hover, 
.btn-secondary:focus, 
.btn-secondary:hover {
    color: #b9b9b9;
    background-color: #3b3b3b;
    border-color: #3b3b3b;
}
.btn-center{
	display:table;
	margin:10px auto;
}
.w100{
	width:100px;
}
.w120{
	width:120px
}
.w100per{
	width:100%
}
.pt5{
	padding-top:5px
}
.pt10{
	padding-top:10px
}
.p15{
	padding:15px
}
.pL0{
	padding-left:0
}
.mt15{
	margin-top:15px;
}
.panel-msg{
    height:100%;
    display:table;
    width: 100%;
    padding: 25px;
}

.panel-msg-wrapper {
	height: 100%; 
	display:table-cell; 
	vertical-align: middle;
}
.panel-msg-body {
    display: table;
    margin: 10px auto;
    position: relative;
}
.panel-msg-text{
	line-height: 24px;
    margin-top: 130px;
	text-align: center;
	font-size: 14px;
}