<div class='popUpContainer'>



  <div class="navbar-custom popup-top-fix1">
    <nav class="navbar navbar-static-top">
      <div class="navbar-header text-center">   
        <button type="button" class="btn btn-default no-btn popUpCloseBtn navbar-btn" aria-label="Left Align" (click)="gotoBackPage()">
			<span class="navbar-brand pull-right"><i class="glyphicon glyphicon-arrow-left arrow-color"></i></span>
		</button>
      </div>     
    </nav>
  </div>

  <div class=''>
  <div class='popUpContent dateComponent'>
    <div>
      <span>
        <span class='glyphicon glyphicon-calendar'></span>
        Date Presents
      </span>
      <ul class="nav nav-pills datComDisplayFlex">
        <li class='dateComList'>
          <button class='btn btn-primary'>D</button>
        </li>
        <li class='dateComList'>
          <button class='btn btn-primary'>W</button>
        </li>
        <li class='dateComList'>
          <button class='btn btn-primary'>M</button>
        </li>
        <li class='dateComList'>
          <button class='btn btn-primary'>Q</button>
        </li>
        <li class='dateComList'>
          <button class='btn btn-primary'>Y</button>
        </li>
      </ul>
      <select class='datedp' value='Today' [routerLink]="['/',{ outlets: { outlet: ['date'] } }]">
        <option>Yesterday</option>
        <option>Q1</option>
      </select>
      <br>
      <br>
      <div class='clear'>
        <span>
          <span class='glyphicon glyphicon-calendar'></span>
          Dates
        </span>
        <div class='datComDisplayFlex'>
          <div class="input-group date col-xs-5">
            <input type="text" class="form-control" value="12-02-2012">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
          </div>
          <div class="input-group date col-xs-5">
            <input type="text" class="form-control" value="12-02-2012">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="datetimepicker"></div>

</div>
</div>