<div class='popUpContainer'>
  <div class="navbar-header">
    <button type="button" class="btn btn-default no-btn popUpCloseBtn navbar-btn" aria-label="Left Align" (click)="gotoBackPage()">
      <span class="glyphicon glyphicon-arrow-left popUpCloseIconColor" aria-hidden="true"></span>
    </button>
  </div>
  <div class='popUpContent dateComponent'>
    <div>
      <span>
        <span class='glyphicon glyphicon-calendar'></span>
        Date Presents
      </span>
      <ul class="nav nav-pills">
          <li role="presentation"><a>D</a></li>
          <li role="presentation"><a>W</a></li>
          <li role="presentation"><a>M</a></li>
          <li role="presentation"><a>Q</a></li>
          <li role="presentation"><a>Y</a></li>
        </ul>
    </div>
  </div>
</div>